:root{
    --color-fondo: #0a0a0a;
    --color-texto: #ffffff;
    --color-morado-neon: #8b5cf6;
    --color-azul-neon: #3b82f8;
    --color-verde-neon: #16a34a;
    --color-amarillo-neon: #f59e0b;
    --color-rojo-neon: #ef4444;
    --color-rosa-neon: #f472b6;
    --sombra-morado:0 0 15px var(--color-morado-neon);
    --sombra-azul:0 0 15px var(--color-azul-neon);
    --sombra-verde:0 0 15px var(--color-verde-neon);
    --sombra-amarillo:0 0 15px var(--color-amarillo-neon);
    --sombra-rojo:0 0 15px var(--color-rojo-neon);
    --sombra-rosa:0 0 15px var(--color-rosa-neon);
}

/*Reset y configuracion global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/*Estilos Navegacion*/
header {
    background: rgba(15, 15, 15, 0.9);
    backdrop-filter: blur(10px); /* Difuminado del fondo */
    padding: 30px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid rgba(139, 92, 246, 0.5); /* Borde sutil en morado */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); /* Sombra sutil */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    padding: 0;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: var(--color-morado-neon);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    position: relative;
}

/* Efecto de brillo al pasar el mouse */
nav a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0%;
    height: 3px;
    background: var(--color-azul-neon);
    box-shadow: 0px 0px 10px var(--color-azul-neon);
    transition: 0.3s ease-in-out;
    transform: translateX(-50%);
}

nav a:hover {
    color: var(--color-azul-neon);
    text-shadow: var(--sombra-azul);
}

nav a:hover::after {
    width: 100%; /* Subrayado animado en hover */
}